h1,h2,h3,h4,h5,h6,a{
    font-family: 'Roboto', sans-serif;
}
span,p{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}

/* header */

.header{
    box-shadow: 1px 1px 20px #ddd;
    padding: 0;
    background-color: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}
.header .container-fluid{
    max-width: 1250px;
    padding: 0;
}
.header a{}
.header a img{}


ul.primary-menu{}
ul.primary-menu li {
	position: relative;
	padding: 22px 0;
}
ul.primary-menu li ul {
	position: absolute;
	top: 119%;
	left: 0;
	padding-left: 25px;
	padding-top: 10px;
	width: 200px;
	list-style: none;
	background-color: #fff;
	box-shadow: 1px 1px 20px #ddd;
	padding-bottom: 10px;
	opacity: 0;
	visibility: hidden;
	transition:  all .5s ease-in-out;
}
ul.primary-menu li:hover > ul {
	visibility: visible;
	opacity: 1;
	top: 64px;
}
ul.primary-menu li ul li{
    padding: 0;
    position: relative;
}
ul.primary-menu li ul li ul {
	position: absolute;
	top: 20%;
	left: 100%;
	width: 200px;
}
ul.primary-menu li ul li:hover ul {
	top: 0px;
}
ul.primary-menu ul li a span {
	margin-left: 84px;
}
ul li a strong {
	font-size: 10px;
}
ul.primary-menu li ul li ul li{}
ul.primary-menu li ul li ul li a{}
ul.primary-menu li ul li a{
    padding: 10px 0;
    display: block;
	transition: .5s;
}
ul.primary-menu li ul li a:hover {
	letter-spacing: 1px;
}


ul.primary-menu li a {
	text-decoration: none;
	color: #111;
	padding: 0 17px;
	font-weight: 500;
	font-size: 15px;
}
ul.primary-menu li:hover > a{
    color: #e83b3e;

}


.header-info{}

.header-search{}
.header-search span {
	margin-right: 21px;
	padding-right: 15px;
	border-right: 1px solid #9f9b9b;
	font-size: 20px;
    display: inline-block;
    cursor: pointer;
	position: relative;
}
.header-search span ul {
	list-style: none;
	position: absolute;
	top: 191%;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
}
.header-search span:hover ul {
	visibility: visible !important;
	opacity: 1 !important;
	top: 149%;
}
.header-search span ul li {
	background: #fff;
	padding: 20px;
	box-shadow: 1px 1px 20px #ddd;
}
.header-search span ul li input {
	border: 1px solid #ddd;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 12px;
}



.header-call-info {
	width: 185px;
}
.header-call{}
.header-call span {
	font-size: 31px;
	transform: rotate(-35deg);
	display: inline-block;
	color: #e83b3e;
	margin-right: 8px;
	position: relative;
	top: 5px;
}
.header-call-content{}
.header-call-content span {
	font-size: 18px;
	color: #606060;
	font-weight: 400;
}
.header-call-content a {
	color: #111;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}


.header-btn{}
.defult-btn {
	background: #e83b3e;
	color: #fff;
	margin-left: 26px;
	padding: 8px 37px;
	font-size: 17px;
	position: relative;
	z-index: 1;
	transition: .5s;
	border: 1px solid transparent;
}
.defult-btn::before {
	content: "";
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #111;
	z-index: -1;
	transition: .5s;
}
.defult-btn:hover::before{
    width: 100%;
}
.defult-btn:hover{
    color: #fff;
    border: 1px solid #111;
}

/* banner */

.banner{
    background: url(https://i.ibb.co/m51MFS1/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    height: 110vh;
    position: relative;
	background-attachment: fixed;
}
.banner-content {
	padding-top: 250px;
	padding-left: 34px;
}
.banner-content h6 {
	color: #e83b3e;
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 18px;
}
.banner-content h2 {
	font-size: 54px;
	font-weight: 600;
	margin-bottom: 20px;
}
.banner-content p{
    color: #606060;
    font-size: 18px;
    margin-bottom: 20px;
}
.banner-content a{
    margin: 0;
}
.banner-content ul {
	position: absolute;
	left: 17px;
	bottom: 0;
}
.banner-content ul li{
    display: inline-block;
}
.banner-content ul li span {
	position: relative;
	margin-right: 40px;
}
.banner-content ul li span::after {
	content: "";
	height: 1px;
	width: 27px;
	top: 53%;
	left: 78px;
	position: absolute;
	background: #111;
}
.banner-content ul li a {
	display: inline-block;
	color: #111;
	text-decoration: none;
	margin-right: 10px;
	font-size: 20px;
	transition: .5s;
}
.banner-content ul li a:hover{
	color: #e83b3e;
}

/* image */
.image-box{
    border-bottom: 1px solid #ddd;
}
{}
.image ul{
    list-style: none;
}
.image ul li{}

/* about */

.about{
 

}
.about-img{
    position: relative;

}
.about-img img{
}
.about-shape {
	background: url(https://i.ibb.co/zJFsZg8/shape.png) no-repeat center center;
	background-size: cover;
	height: 190px;
	width: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-text{
    text-align: center;
}
.about-text h2{
    color: #e73c3e;
    font-size: 40px;
    font-weight: 600;
}
.about-text p{}

/* finix-content */


.finix-content {
}
.finix-content h6 {
  color: #e73c3e;
  font-weight: 400;
  margin-bottom: 20px;
}
.finix-content h2 {
  font-size: 37px;
  font-weight: 500;
  margin-bottom: 20px;
}
.finix-content p {
  color: #606060;
  font-weight: 400;
  font-size: 17px;
}
.finix-content strong {
  color: #606060;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 20px;
  display: inline-block;
}
.finix-content ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
.finix-content li {
	position: relative;
	padding: 4px 0;
    color: #606060;
}
.finix-content li::before {
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	color: #e73c3e;
	margin-right: 10px;
}
.defult-btn {
	background: #e83b3e;
	color: #fff;
	padding: 13px 49px;
	font-size: 17px;
	position: relative;
	z-index: 1;
	transition: .5s;
	border: 1px solid transparent;
	text-decoration: none;
	border-radius: 4px;
	overflow: hidden;
}


/* choose */
.finix-content{
    position: relative;
}
.choose-animation-btn {
	position: absolute;
	bottom: 70px;
	right: 201px;
	width: 70px;
	height: 70px;
	background: #fff;
	text-align: center;
	line-height: 70px;
	border-radius: 50%;
	font-size: 53px;
    transition: .5s;
    color: #e83b3e;
}
.choose-animation-btn:hover{
    background-color: #e73c3e;
    color: #fff;
}
.choose-animation-btn::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e73c3e;
    border-radius: 50%;
    animation: choose-btn 1.6s infinite;
}
@keyframes choose-btn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.choose-text {
	text-align: center;
	background: #fff;
	position: relative;
	overflow: hidden;
	padding: 29px;
    transition: .5s;
}
.choose-text::before {
	content: "";
	top: -112px;
	position: absolute;
	left: 6px;
	height: 63%;
	width: 95%;
	background: #fdebeb;
	border-radius: 50%;
	z-index: 1;
}
  .choose-text span {
	color: #e73c3e;
	background: ;
	height: 80px;
	width: 80px;
	display: block;
	background: #fff;
	margin: auto;
	border-radius: 50%;
	z-index: 99;
	position: relative;
	line-height: 80px;
    transition: .5s;

	font-size: 30px;
}
  .choose {
    background: #f9fafb;
    padding: 100px 0;
  }

  .choose-text h2 {
	font-size: 25px;
	margin-top: 20px;
}
  .choose-text p {
	color: #606060;
	font-size: 16px;
	font-weight: 300;
}
.choose-text:hover span{
    background-color: #e73c3e;
    color: #fff;
}
.choose-text:hover{
    transform: translateY(-20px);
}


/* extra btn */

.choose-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	border: 8px double blue;
	border-radius: 50%;
    animation: ani-btn 1.6s ease-out infinite;

}
.choose-btn {
	width: 150px;
	height: 150px;
	background: #e73c3e;
	display: block;
	color: #fff;
	text-align: center;
	line-height: 150px;
	font-size: 55px;
	border-radius: 50%;
	position: relative;
}
@keyframes ani-btn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(0);
        opacity: 1;
    }
    75%{
        transform: scale(1);
        opacity: .8;
    }    
    85%{
        transform: scale(1.2);
        opacity: .5;
    }    

    100%{
        transform: scale(1.5);
        opacity: 0;
    }
 
}

/* business left */

.business-left{}
.business-left h2 {
	margin-bottom: 32px;
	font-weight: 400;
	font-size: 36px;
	margin-top: 50px;
}
.business-left ul {
	list-style: none;
	position: relative;
	padding-left: 60px;
}
.business-left ul::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 17px;
	width: 1px;
	height: calc(100% - 100px);
	background: #e83b3e;
}
.business-left ul li {
	position: relative;
	margin-bottom: 25px;
}
.business-left ul li::before {
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: -60px;
	width: 35px;
	height: 35px;
	border: 1px solid #e83b3e;
	color: #e83b3e;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
}
.business-left ul li h4 {
	font-size: 24px;
}
.business-left ul li p {
	color: #606060;
	font-size: 16px;
}
.business-left a {
	margin-top: 35px;
	display: inline-block;
}





/* business right */
.business-right{
	padding: 50px;
	background-color: #fdebeb;
}
.business-content{}
.business-content p {
	margin-bottom: 7px;
	color: #606060;
}
.business-content h2 {
	margin-bottom: 26px;
}
.business-form{}
.business-form label {
	color: #606060;
	margin-bottom: 9px;
	font-size: 17px;
	font-weight: 500;
}
.business-form input {
	padding: 9px;
	font-size: 19px;
	margin-bottom: 13px;
}
.business-form select {
	margin-bottom: 13px;
	height: 49px;
}

/* call */




.call.py-5 {
	background: #e83b3e;
  }
  .call-left {
	border-right: 1px solid #ffffff8c;
  }
  .call-left h2 {
	color: #fff;
	font-size: 38px;
	font-weight: 500;
	line-height: 48px;
}
  .call-right span {
	height: 60px;
	width: 60px;
	display: inline-block;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	height: ;
	line-height: 60px;
	font-size: 32px;
	transform: rotate(-31deg);
	color: #e83b3e;
	margin-right: 32px;
  }
  .call-right a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 28px;
  }
  .call-right {
	display: flex;
	align-items: center;
	margin-left: 28px;
  }

  /* compnay */

  
.company-content {
}
.company-cont h2 {
  font-size: 37px;
  margin-bottom: 40px;
}
.company-item span {
	color: #e73c3e;
	font-size: 40px;
	margin-right: 20p;
	width: 46px;
	display: block;
}
.company-text h4 {
  font-size: 25px;
}
.company-text {
  margin-left: 26px;
  margin-top: 8px;
}
.company-text p {
  color: #606060;
}
.company-image img {
	transform: scale(1.05);
}

/* service */



.service span {
	font-size: 25px;
	width: 70px;
	height: 70px;
	background: #fff;
	box-shadow: 1px 1px 10px #ddd;
	line-height: 70px;
	border-radius: 50%;
	color: #606060;
	margin-bottom: 20px !important;
	margin: auto;
}
.service-content ul li a.active span {
	color: #e73c3e;
}
.service-content ul li a.active{
    position: relative;
}
.service-content ul li a.active::before {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #e73c3e;
}
  .service {
    background: #f9fafb;
  }
  .service strong {
	color: #000;
	font-weight: 600;
	font-size: 20px;
}
  .service-content ul {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 59px;
  }


  .service-text{
  }
.service-text ul {
    list-style: none;
    padding: 0;
    padding-left: 25px;
  }
  .service-text li {
    position: relative;
    color: #606060;
    font-weight: 500;
    font-size: 18px;
    margin: 6px 0;
  }
  .service-text li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -22px;
    width: 10px;
    height: 10px;
    background: #e73c3e;
    border-radius: 50%;
  }
  .service-text h2 {
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .service-text p {
    color: #606060;
    margin-bottom: 29px;
  }

  /* client */

  .client-text p {
    font-size: 21px;
  }
  .client-text h5 {
    color: #e83b3e;
    font-size: 18px;
  }
  .client-text h6 {
    color: #606060;
    font-size: 15px;
    font-weight: 400;
  }  

  .client-img{
    position: relative;
  }

  .client-img span {
    position: absolute;
    bottom: 50px;
    left: 87px;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    color: #e83b3e;
    border-radius: 50%;
  }

  /* team */

  .team-member{}

  .team-box{}
  .team-box-top{
    position: relative;
  }
  .team-box-top img{}
  .team-social {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .team-social ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
 
    
  }
  .team-social ul  li{
    display: inline-block;
    transform: translateY(70px);
    opacity: 0;
    transition: .5s ease-in-out; 
    visibility: hidden;
  }
  .team-social ul li a{
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    font-size: 23px;
    border-radius: 50%;
    line-height: 40px;
    color: #111;
  }
  .team-social ul li a:hover{
    color: #e73c3e;
  }
  .team-box-top:hover .team-social ul li{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .team-box-top:hover .team-social ul li:nth-child(1){
    transition: .2s;
  
  }
  .team-box-top:hover .team-social ul li:nth-child(2){
    transition: .4s;
  }
  
  .team-box-top:hover .team-social ul li:nth-child(3){
    transition: .6s;
  }
  
  .team-box-top:hover .team-social ul li:nth-child(4){
    transition: .8s;
  }
  .team-box-bottom{}
  .team-box-content h4 {
    color: #e73c3e;
    margin-top: 20px;
  }
  .team-box-content p {
    color: #606060;
  }

  /* blog */

  
.blog-text {
	padding-top: 50px;
  }
  .blog-text p {
	color: #e83b3e;
  }
  .blog-text h4 {
	font-weight: 700;
	font-size: 25px;
  }
  .blog-text h6 {
	font-weight: 600;
	transition: .5s ease-in-out;
  }
  .blog-content:hover .blog-text h6{
	  letter-spacing: 2px;
	  color: #e83b3e;
  }
  /* footer */

  .footer {
	background: #111111;
	padding-top: 90px;
	padding-bottom: 50px;
  }
  .footer-content {
  }
  .footer-content img {
	width: 174px;
  }
  .footer-content h4 {
	color: #fff;
	font-size: 17px;
	margin-top: 20px;
	line-height: 22px;
	margin-bottom: 20px;
	font-weight: 400;
	line-height: 28px;
}
  .footer-content ul {
	list-style: none;
	padding-left: 0;
  }
  .footer-content ul li {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}
.footer-content ul li a {
	display: inline-block;
	padding: 0 7px;
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
}
  .footer-content .footer-item a {
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 16px 0;
	font-size: 17px;
	transition: .5s ease-in-out;
}
  .footer-content .footer-item a:hover{
	color: #e83b3e;
	letter-spacing: 2px;
  }
  
  .footer-content h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	position: relative;
	border-bottom: 1px solid #606060;
	padding-bottom: 22px;
}
  .footer-item {
	margin-top: 35px;
  }

  

.footer-icon span {
  color: #fff;
  margin-right: 18px;
  margin-top: 10px;
  font-size: 20px;
}
.footer-icon .fal {
	color: #fff;
	margin-right: 18px;
	margin-top: 35px;
	font-size: 20px;
}
.fals {
	margin-top: 10px;
}
.footer-text p {
	color: #ffff;
	margin-top: 29px;
	margin-bottom: 0;
}
.footer-text {
	margin-bottom: 11px;
}
.footer-items a {
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}
.footer-text a:hover {
	letter-spacing: 0 !important;
}
  /* .footer-content h3::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 25px;
	background: #345edf;
  } */
  .business-form a {
	margin-left: 0;
	margin-top: ;
	margin-top: 50px;
	margin-bottom: ;
	display: inlne-block;
	position: ;
	position: relative;
	top: 17px;
}
  
  .footer-bottom {
	padding: 36px 0;
	border-top: 1px solid #606060;
	background: #111;
}
.footer-bottom h4 {
	color: #606060;
	font-size: 17px;
	margin: 0;
}
  .footer-bottom-content a {
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 1px;
}



/* page 2 */

/* about us */

.about-us{
	background: url(img/bg.jpg) no-repeat center center;
	background-size: cover;
	height: 80vh;
	position: relative;
	z-index: 1;
}




.about-us-content ul li {
	position: relative;
	display: inline-block;
}
.about-us-content ul li.bread::before {
	content: "";
	width: 2px;
	height: 20px;
	display: inline-block;
	background: #000;
	top: 4px;
	right: 0;
	position: absolute;
	transform: rotate(20deg);
}

.about-us-content ul li a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	padding: 0 12px;
  }
  .about-s {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}
.about-us::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.568);
	z-index: -1;
}

